
<section class=" flex flex-col gap-2 ">
  <div class="max-h-96 overflow-auto">
    @for (comment of commentList; track comment._id) {
      <div class=" bg-gray-100 p-3 border rounded-md ">
        <div class=" flex items-center gap-3">
          <img [src]="comment.commentCreator.photo" alt="profile photo" class="w-10 h-10 rounded-full">
          <h3 class=" font-medium ">{{comment.commentCreator.name}}</h3>
          <span class=" text-gray-500">{{comment.createdAt | date}}</span>
        </div>
        <p class=" text-gray-600 mt-3">{{comment.content}}</p>

      </div>

    }

  </div>
  <!-- add comment -->


  <div>
    <form [formGroup]="commentForm" >
      <label for="chat" class="sr-only">Your comment</label>
      <div class="flex items-center rounded-lg py-2 px-2 bg-gray-100 dark:bg-gray-700">
          <textarea formControlName="content" id="chat" rows="1" class="block p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 placeholder:text-gray-400 font-medium" placeholder="Your comment... "></textarea>

          <button (click)="addComment()" type="submit" [disabled]="isLoading" class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100 dark:text-blue-500 dark:hover:bg-gray-600">
            @if (isLoading) {
              <svg class="w-5 h-5 animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8h-8z"></path>
              </svg>
            } @else {
              <svg class="w-5 h-5 rotate-90 rtl:-rotate-90" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                <path d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z"/>
              </svg>
            }
            <span class="sr-only">Send comment</span>
          </button>
      </div>
    </form>

  </div>

</section>


