
<nav class="  absolute z-[999] border top-0 left-0 right-0 bg-gray-50 border-gray-200 dark:bg-gray-950">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto px-4 py-3">
    <a routerLink="/timeline" class="flex items-center space-x-3 rtl:space-x-reverse">
      <h1 class=" text-blue-800 text-3xl font-semibold">Linked Post</h1>
    </a>



     <div class=" flex  " id="navbar-default">
      @if (isLogin()) {
        <ul class="ms-auto m-0 p-0 capitalize justify-center items-center flex flex-row gap-4  border-gray-100 rounded-lg rtl:space-x-reverse md:mt-0  dark:border-gray-700 overflow-x-auto">
          <!-- <li>
            <a routerLink="/timeline" routerLinkActive="bg-green-700 text-white" class="block py-2 px-3 rounded-sm text-gray-700 hover:bg-gray-100 transition-colors dark:text-gray-300 dark:hover:bg-gray-700" aria-current="page">home</a>
          </li> -->

          <!-- <li class="profile"  >
            <a routerLink="/profile">
              <i class="fa-solid fa-user rounded-full fa-2x text-blue-900"></i> -->
              <!-- <img class="rounded-full w-10 h-10" src="/assets/default Profile.jpg" alt="profile photo"> -->
              <!-- <img class="rounded-full w-10 h-10 object-cover" [src]="userData()?.photo || '/assets/default Profile.jpg'" alt="Profile Image"> -->
            <!-- </a> -->

            <!-- <a role="button" (click)="signOut()" class="block py-2 px-3 rounded-sm text-gray-700 hover:bg-gray-100 hover:text-blue-700 transition-colors dark:text-gray-300 dark:hover:bg-gray-700 dark:hover:text-blue-500" aria-label="Logout">{{'nav.logout' | translate}}</a> -->
          <!-- </li> -->



        </ul>
      }
      <ul class="ms-auto capitalize justify-center items-center flex flex-row gap-4  md:p-0 border border-gray-100 rounded-lg  rtl:space-x-reverse md:mt-0 md:border-0  dark:border-gray-700 overflow-x-auto">

       
      </ul>
    </div>
  </div>
</nav>

